certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ddtrace==0.46.0
fastapi==0.63.0
h11==0.12.0
idna==2.10
intervaltree==3.1.0
names==0.3.0
nose==1.3.7
protobuf==3.14.0
pydantic==1.7.3
Random-Word==1.0.4
requests==2.25.1
six==1.15.0
sortedcontainers==2.3.0
SQLAlchemy==1.3.23
starlette==0.13.6
tenacity==6.3.1
urllib3==1.26.3
uvicorn==0.13.3
