# This is a reasonable set of default HELM settings.
# Enable/disable as you see fit for your deployment.
# Tested with version 2.4.31, if your release is 2.5.x or newer, check for
# changes in the original chart values

# registry -- Registry to use for all Agent images (default gcr.io)
## Currently we offer Datadog Agent images on:
## GCR - use gcr.io/datadoghq (default)
## DockerHub - use docker.io/datadog
## AWS - use public.ecr.aws/datadog
registry: gcr.io/datadoghq

# Enable this block if you want to use the newest agent
# agents:
  # image:
  #   tag: latest
  #   pullPolicy: Always

# Enable this block to get the latest Cluster Agent
# clusterAgent:
#   enabled: true
#   image:
#     tag: latest
#     pullPolicy: Always

datadog:
  clusterName: "ecommerce"

  apm:
    enabled: true

  # Can be enabled if you are using Cluster Agent 1.12+
  # kubeStateMetricsCore:
    # enabled: false

  ## This is already enabled by default and not recommended to disable
  # clusterChecks:
  #  enabled: true

  # Enable this block to get all logs from the pods/containers
  # logs:
  #   enabled: true
  #   containerCollectAll: true

  # Enable this block for the Kubernetes Beta metrics
  # orchestratorExplorer:
  #   enabled: true

  # Enable this block for process collection. It is required for Kubernetes Beta metrics
  # processAgent:
  #   processCollection: true

  # Enable this block for network and DNS metric collection
  # networkMonitoring:
  #   enabled: true
  #
  # systemProbe:
  #   collectDNSStats: true
  #   enableOOMKill: true
  #   enableTCPQueueLength: true
# Enable if you want to setup the Datadog Agent on GKE Autopilot
# providers:
#  gke:
#    autopilot: true
