# Version control
.git

# Compiled Python bytecode
**/__pycache__
**/*.pyc
**/*.pyo

# Compiled extensions
**/*.pyd
**/*.so

# coverage.py
.coverage
.coverage.*
htmlcov

# Cached files
.cache
.mypy_cache
.hypothesis
.pytest_cache

# Virtualenvs and builds
build/
dist/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
Dockerfile*
.dockerignore
