name: Release Changelog

# Only release on a new tag that is a version number.
on:
  create:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  release_a_changelog:
    name: Release a Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Release a Changelog
        uses: rasmus-saks/release-a-changelog-action@v1.0.1
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
  publish_service_containers:
    name: Publish service containers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Download, Tag, and Push Service Images
        run: |
          docker pull ddtraining/advertisements:latest
          docker tag ddtraining/advertisements:latest ddtraining/advertisements:${{ github.event.ref }}
          docker push ddtraining/advertisements:${{ github.event.ref }}
          docker pull ddtraining/advertisements-fixed:latest
          docker tag ddtraining/advertisements-fixed:latest ddtraining/advertisements-fixed:${{ github.event.ref }}
          docker push ddtraining/advertisements-fixed:${{ github.event.ref }}
          docker pull ddtraining/discounts:latest
          docker tag ddtraining/discounts:latest ddtraining/discounts:${{ github.event.ref }}
          docker push ddtraining/discounts:${{ github.event.ref }}
          docker pull ddtraining/discounts-fixed:latest
          docker tag ddtraining/discounts-fixed:latest ddtraining/discounts-fixed:${{ github.event.ref }}
          docker push ddtraining/discounts-fixed:${{ github.event.ref }}
          docker pull ddtraining/storefront:latest
          docker tag ddtraining/storefront:latest ddtraining/storefront:${{ github.event.ref }}
          docker push ddtraining/storefront:${{ github.event.ref }}
          docker pull ddtraining/storefront-fixed:latest
          docker tag ddtraining/storefront-fixed:latest ddtraining/storefront-fixed:${{ github.event.ref }}
          docker push ddtraining/storefront-fixed:${{ github.event.ref }}
